:root {
  --hover-bg: rgb(82, 80, 80);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}



div.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(71, 71, 71);
}  

div.field {
  display: flex;
  align-items: center;
  gap:  1rem;
}

button {
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}


table {
  border-collapse: collapse;
  text-align: left;
  border: 1px solid;
  margin-top: 1rem;
  align-self: stretch ;
}

td,th {
  border: 1px  solid;
  padding: 5px 10px;
}

form {
  display: grid;
}

td:hover {
  background: var(--hover-bg);
}

tr.selected > td{
  background: var(--hover-bg);
}
